@import url("./base.css");
@import url("./home.css");
@import url("./profiles.css");
@import url("./discography.css");
@import url("./gallery.css");
@import url("./timeline.css");
@import url("./quiz.css");
@import url("./responsive.css");
